.enlace a:link {
	color: #afe716;
	text-decoration: underline;
	background-color: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
}
.enlace a:active {
	color: #0066CC;
	text-decoration:  underline;
	background-color: none;
	cursor: hand;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-style: normal;
}
.enlace a:hover {
	color: #00ff62;
	text-decoration:  none;
	background-color: none;
	cursor: hand;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-style: normal;
}
.enlace a:visited {
	color: #cc001b;
	text-decoration: underline;
	background-color: none;
	cursor: hand;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-style: normal;
}